@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --body-font: "Quicksand", sans-serif;
    --color-blue-200: #00ffff;
    --color-blue-400: #0c0c23;
    --color-light: #ffffff;
    --color-purple: hsla(287, 44%, 21%, .48);
    --body-gradiente: linear-gradient(120deg,
            hsl(240deg 49% 9%) 0%,
            hsl(245deg 47% 10%) 5%,
            hsl(250deg 49% 12%) 12%,
            hsl(254deg 48% 13%) 26%,
            hsl(258deg 46% 14%) 75%,
            hsl(264deg 45% 15%) 90%,
            hsl(268deg 47% 16%) 96%,
            hsl(274deg 46% 17%) 99%,
            hsl(278deg 45% 19%) 100%,
            hsl(283deg 45% 20%) 100%,
            hsl(287deg 44% 21%) 100%);

}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: var(--body-gradiente);
    font-family: var(--body-font);
    color: var(--color-light);
}

a {
    color: var(--color-light);
    text-decoration: none;
    transition: .7s;
}

a:hover {
    color: var(--color-blue-200);

}

ul {
    list-style: none;
}

.header-page {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-page ul {
    display: flex;
    gap: 30px;
}

.logo {
    color: var(--color-blue-200)
}

.btn {
    color: var(--color-blue-200);
    border: 1px solid;
    border-color: var(--color-blue-200);
    padding: 7px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
}

.btn:hover {
    color: var(--color-light);
    border-color: var(--color-light);
    background-color: var(--color-blue-400);
}

.hero {
    display: flex;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.hero-text,
.hero-image {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-light);
}

.hero-text h2 {
    line-height: 1.10;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.color-title {
    color: var(--color-blue-200);
}

.hero-text p {
    width: 60%;
    margin: 0 auto 40px;

}

.hero-image {
    background-color: var(--color-purple);
    border-radius: 80px 0;
}

.artistas {
    width: 90%;
    margin: 70px auto;
}

.artistas h2 {
    margin-bottom: 20px;
}

.lista-artistas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.artista-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artista-item img {
    width: 80%;
    border-radius: 20% 5%;
    transition: 0.5s;
}

.artista-item img:hover {
    scale: 1.1;
}

.artista-item h3 {
    margin-top: 20px;

}

.menu-rodape {
    display: flex;
    justify-content: flex-start;
    margin: 70px;

}

.coluna-rodape {

    line-height: 45px;

}

.lista-coluna {
    margin: 80px;
}